.carouselImageContainer {
    flex: 0 0 auto;
    width: 40vw;
    height: 40vw;
}

.carouselContent img {
    filter: saturate(2);
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.carouselContent img:hover{
    transform: scale(1.1);
}

.carouselContent {
    display: flex;
    gap: 4vw;
    height: 100%;
    width: 100%;
    animation: carousel 60s linear infinite;
}

.carousel {
    flex-shrink: 0;
    width: 100%;
    height: 42vw;
    margin: 0 auto;
    overflow-x: hidden;
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1584vw);
    }
}

@keyframes carousel2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1044rem);
        transform: translateX(calc(-1 * 36 * 340px));
    }
}

@keyframes carousel3 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * 36 * 300px));
    }
}

@keyframes carousel4 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * 36 * 190px));
    }
}

@media only screen and (max-height:500px)  {
    .carousel {
        width: 80%;
        height: 160px;
    }
    .carouselImageContainer {
        width: 150px;
        height: 150px;
    }
    .carouselContent {
        gap: 40px;
        animation: carousel4 60s linear infinite;
    }
}

@media only screen and (min-width:700px) and (min-height:700px) {
    .carouselImageContainer {
        width: 300px;
        height: 300px;
    }

    .carousel {
        width: 80%;
        height: 310px;
    }

    .carouselContent {
        gap: 40px;
        animation: carousel2 60s linear infinite;
    }
}


@media only screen and (min-width:850px){
    .carouselImageContainer {
        width: 200px;
        height: 200px;
    }

    .carousel {
        height: 210px;
        width: 80%;
    }

    .carouselContent {
        gap: 100px;
        animation: carousel3 60s linear infinite;
    }
}