* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #1f1e1e;
    height: 100%;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}