h1 {
    font-size: 300%;
    color: white;
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

.prevNextButtons button {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80px;
    padding: 0 3px;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.prevNextButtons button:hover {
    background-color: rgb(178, 190, 201);
}

.prevNextButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mainPokedexCard {
    display: grid;
    gap: 40px 80px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 30px;
    max-width: 900px;
    padding: 20px;
    margin: 30px auto;
}

.pokemonCard {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(49, 35, 56);
    text-decoration: none;
    border-radius: 16px;
    gap: 10px;
    max-width: 250px;
}

.pokeId {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: x-large;
    z-index: 1;
}

.pokemonCard>img {
    filter: saturate(1.5);
    width: 100%;
}

.typeRow {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}

.type {
    border-radius: 12px;
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
    width: 60px;
    height: 25px;
    text-shadow: 0.5px 0.5px black;
    justify-content: center;
    align-items: center;
}

.normal {
    background-color: rgb(190, 183, 183);
}

.fire {
    background-color: rgb(255, 132, 0);
}

.water {
    background-color: rgb(0, 153, 255);
}

.grass {
    background-color: rgb(52, 230, 75);
}

.poison {
    background-color: rgb(163, 0, 163);
}

.flying {
    background-color: rgb(171, 81, 235);
}

.electric {
    background-color: rgb(208, 208, 102);
}

.ice {
    background-color: rgb(125, 178, 253);
}

.fighting {
    background-color: rgb(196, 18, 18);
}

.ground {
    background-color: rgb(230, 230, 117);
}

.psychic {
    background-color: rgb(243, 112, 134);
}

.bug {
    background-color: rgb(213, 212, 153);
}

.rock {
    background-color: rgb(186, 225, 128);
}

.ghost {
    background-color: rgb(107, 48, 155);
}

.dark {
    background-color: rgb(71, 17, 17);
}

.dragon {
    background-color: rgb(69, 69, 247);
}

.steel {
    background-color: rgb(147, 157, 192);
}

.fairy {
    background-color: pink;
}

/*----------------------------------------------*/

.normalCardColor {
    background-color: rgb(129, 121, 121);
}

.fireCardColor {
    background-color: rgb(235, 175, 112);
}

.waterCardColor {
    background-color: rgb(154, 206, 241);
}

.grassCardColor {
    background-color: rgb(140, 223, 151);
}

.poisonCardColor {
    background-color: rgb(227, 139, 227);
}

.flyingCardColor {
    background-color: rgb(171, 81, 235);
}

.electricCardColor {
    background-color: rgb(162, 173, 2);
}

.iceCardColor {
    background-color: rgb(197, 219, 250);
}

.fightingCardColor {
    background-color: rgb(211, 101, 101);
}

.groundCardColor {
    background-color: rgb(120, 147, 86);
}

.psychicCardColor {
    background-color: rgb(234, 152, 166);
}

.bugCardColor {
    background-color: rgb(165, 165, 127);
}

.rockCardColor {
    background-color: rgb(156, 188, 105);
}

.ghostCardColor {
    background-color: rgb(180, 128, 222);
}

.darkCardColor {
    background-color: rgb(89, 62, 62);
}

.dragonCardColor {
    background-color: rgb(108, 108, 240);
}

.steelCardColor {
    background-color: rgb(188, 193, 214);
}

.fairyCardColor {
    background-color: rgb(239, 133, 152);
}

@media only screen and (max-width:900px) {
    .mainPokedexCard {
        gap: 50px 40px;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:550px) {
    .mainPokedexCard {
        gap: 50px;
        grid-template-columns: 1fr;
    }
}