h1 {
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    margin: 5px 0 30px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.start {
    font-size: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    margin-bottom: 10px;
}

.rightArrow {
    border-radius: 50%;
    background-color: red;
    width: 45px;
    height: 45px;
    position: relative;
}

.rightArrow::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    border: solid black;
    border-width: 0 5px 5px 0;
    padding: 10px;
    transform: rotate(-45deg);
}